﻿<!DOCTYPE html>

<html>
<head>
    <partial name="_HeadScripts" />
</head>
<body>
    <partial name="_Header" />

    <div class="container body-content">
        @RenderBody()

        <partial name="_Footer" />
    </div>

    <partial name="_EnvironmentScripts" />
    @RenderSection("Scripts", required: false)
</body>
</html>
