﻿<!DOCTYPE html>

<html>
<head>
    <partial name="_HeadScripts" />
</head>
<body>
    <partial name="_Header" />

    <div class="container body-content">

        <h2>Configuration</h2>

        <div class="row">
            <div class="col-md-3">
                <a asp-controller="FeatureCategories" asp-action="Index">
                    <div id="configurationFeatureCategories" class="configurationSelector">
                        FeatureCategories
                    </div>
                </a>
                <a asp-controller="FeatureStatus" asp-action="Index">
                    <div id="configurationFeatureStatuses" class="configurationSelector">
                        FeatureStatuses
                    </div>
                </a>
                <a asp-controller="FeatureTrackerUsers" asp-action="Index">
                    <div id="configurationUsers" class="configurationSelector">
                        Users
                    </div>
                </a>
                <a asp-controller="UpdateLogs" asp-action="Index">
                    <div id="configurationUpdateLog" class="configurationSelector">
                        Update Log
                    </div>
                </a>
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>

        <partial name="_Footer" />
    </div>

    <partial name="_EnvironmentScripts" />
    @RenderSection("Scripts", required: false)
</body>
</html>