﻿<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-area="" asp-controller="Features" asp-action="Index" class="navbar-brand">Feature Tracker</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a asp-area="" asp-controller="Features" asp-action="Index">Features</a></li>
                <li><a asp-area="" asp-controller="Configuration" asp-action="Index">Configuration</a></li>
            </ul>
        </div>
    </div>
</nav>

@*<partial name="_CookieConsentPartial" />*@
