﻿@model FeatureTracker.Models.Feature

@{
    Layout = "_BaseLayout";
    ViewData["Title"] = "Create Feature";
}

<h2>Create</h2>

<h4>Feature</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FeatureCategoryId" class="control-label"></label>
                <select asp-for="FeatureCategoryId" class="form-control" asp-items="ViewBag.FeatureCategoryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FeatureStatusId" class="control-label"></label>
                <select asp-for="FeatureStatusId" class="form-control" asp-items="ViewBag.FeatureStatusId"></select>
            </div>
            <div class="form-group">
                <label asp-for="AssigneeUserId" class="control-label"></label>
                <select asp-for="AssigneeUserId" class="form-control" asp-items="ViewBag.AssigneeUserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}