﻿@model FeatureTracker.Models.Feature

@{
    Layout = "_BaseLayout";
    ViewData["Title"] = "Delete Feature";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Feature</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FeatureCategory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FeatureCategory.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FeatureStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FeatureStatus.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReporterUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReporterUser.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssigneeUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssigneeUser.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="FeatureId" />
        <input type="hidden" asp-for="Title" />
        <input type="hidden" asp-for="FeatureCategoryId" />
        <input type="hidden" asp-for="FeatureStatusId" />
        <input type="hidden" asp-for="AssigneeUserId" />
        <input type="hidden" asp-for="Description" />
        <input type="hidden" asp-for="ReporterUserId" />
        <input type="hidden" asp-for="CreationDate" />
        <input type="hidden" asp-for="UpdatedDate" />
        <input type="hidden" asp-for="LastUpdateUserId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}