﻿@model FeatureTracker.Models.FeatureViewModel

@{
    Layout = "_BaseLayout";
    ViewData["Title"] = "Feature Details";
}

<h2>Details</h2>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Feature.FeatureId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<div>
    <h4>Feature</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => Model.Feature.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => Model.Feature.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => Model.Feature.FeatureCategory)
        </dt>
        <dd>
            @Html.DisplayFor(model => Model.Feature.FeatureCategory.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => Model.Feature.FeatureStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => Model.Feature.FeatureStatus.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => Model.Feature.ReporterUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => Model.Feature.ReporterUser.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => Model.Feature.AssigneeUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => Model.Feature.AssigneeUser.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => Model.Feature.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => Model.Feature.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => Model.Feature.CreationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => Model.Feature.CreationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => Model.Feature.UpdatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => Model.Feature.UpdatedDate)
        </dd>
    </dl>
</div>

<div>
    @foreach (var comment in Model.FeatureComments)
    {
        @Html.DisplayFor(model => comment.Comment)
    }
</div>
