﻿@model IEnumerable<FeatureTracker.Models.Feature>

@{
    Layout = "_BaseLayout";
    ViewData["Title"] = "Features";
}

<h2>Features</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FeatureCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FeatureStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReporterUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssigneeUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FeatureCategory.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FeatureStatus.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReporterUser.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssigneeUser.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.FeatureId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.FeatureId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.FeatureId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>