﻿@model FeatureTracker.Models.FeatureCategory

@{
    Layout = "_ConfigurationLayout";
    ViewData["Title"] = "Delete Feature Category";
}

<div>
    <h4>Are you sure you want to delete this Feature Category?</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="FeatureCategoryId" />
        <input type="hidden" asp-for="Name" />
        <input type="hidden" asp-for="LastUpdateUserId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
