﻿@model FeatureTracker.Models.FeatureStatus

@{
    Layout = "_ConfigurationLayout";
    ViewData["Title"] = "Edit Feature Status";
}

<h4>You are editing the '@Html.DisplayFor(modelItem => Model.Name)' Feature Status</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FeatureStatusId" />
            <input type="hidden" asp-for="LastUpdateUserId" />
            <input type="hidden" asp-for="Deleted" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
