﻿@model IEnumerable<FeatureTracker.Models.FeatureStatus>

@{
    Layout = "_ConfigurationLayout";
    ViewData["Title"] = "Feature Status Index";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FeatureStatusId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.FeatureStatusId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<p>
    <a asp-action="Create">Create New</a>
</p>